---
import { Image } from 'astro:assets';
import emailLogo from '../assets/emailLogo.svg';
import mapPointLogo from '../assets/mapPoint.svg';
import phoneLogo from '../assets/phone.svg';

const currentYear = new Date().getFullYear();
const footerSections = {
	kontakt: {
		title: 'KONTAKT',
		items: [
			{ type: 'phone', content: '+48 77 44 18 100', img: phoneLogo, alt: 'Zadzwoń do nas' },
			{ type: 'email', content: 'biuro@bluesoft.pl', img: emailLogo, alt: 'Skontaktuj się z nami mailowo' },
			{ type: 'address', content: '45-315 Opole, ul. Głogowska 37', img: mapPointLogo, alt: 'Tu jesteśmy' },
			{ type: 'NIP', content: '754-000-63-00' },
			{ type: 'Regon', content: '530878206' },
			{ type: 'KRS', content: '0000624892' },
		],
	},
	produkty: {
		title: 'PRODUKTY',
		items: [
			{ link: '/produkty/smart-controller', label: 'Smart Controller' },
			{ link: '/produkty/smart-detector', label: 'Smart Detector' },
		],
	},
	uslugi: {
		title: 'USŁUGI',
		items: [
			{ link: '/uslugi/sieci-i-systemy', label: 'Sieci i systemy teleinformatyczne' },
			{ link: '/uslugi/oswietlenie-led', label: 'Oświetlenie LED' },
			{ link: '/uslugi/oprogramowanie', label: 'Oprogramowanie' },
			{ link: '/uslugi/systemy-zarzadzania-energia', label: 'Systemy Zarządzania Energią' },
			{ link: '/uslugi/automatyka-budynkowa', label: 'System Automatyki Budynkowej' },
			{ link: '/uslugi/systemy-teletechniczne', label: 'Systemy Teletechniczne w Drogownictwie' },
		],
	},
	inne: {
		title: 'INNE',
		items: [
			{ link: '/certyfikaty', label: 'Certyfikaty' },
			{ link: '/dzialania', label: 'Działania' },
			{ link: '/przetargi', label: 'Przetargi' },
			{ link: '/projekty-unijne', label: 'Projekty Unijne' },
			{ link: '/realizacje', label: 'Realizacje' },
			{ link: '/b-r', label: 'B+R' },
		],
	},
};

function getHref(type: string, content: string) {
	if (type === 'email') {
		return `mailto:${content}`;
	}

	if (type === 'phone') {
		return `tel:${content}`;
	}

	if (type === 'address') {
		return 'https://www.google.pl/maps/place/G%C5%82ogowska+37,+46-020+Opole/@50.657921,17.9634561,17';
	}

	return '';
}
---

<footer class="bg-gray-900 text-white py-8">
	<div class="container mx-auto px-6">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
			<!-- Contact Section -->
			<div>
				<h3 class="text-lg font-bold mb-6 text-white border-b border-blue-500 pb-2">
					{footerSections.kontakt.title}
				</h3>
				<ul class="space-y-4">
					{
						footerSections.kontakt.items.map((item) => (
							<li class="flex items-center">
								<>
									{item.img && 
									<Image class="mr-3" src={item.img} alt={item.alt} />
										<a
											href={getHref(item.type, item.content)}
											target={item.type === 'address' ? '_blank' : '_self'}
											class="hover:text-accent transition-colors duration-300"
										>
											{item.content}
										</a>
									}
									{!item.img && 
										<span class="mr-3 text-accent">{item.type}</span>
										<span class="hover:text-accent transition-colors duration-300">
											{item.content}
										</span>
									}
										
								</>
							</li>
						))
					}
				</ul>
			</div>

			<!-- Products Section -->
			<div>
				<h3 class="text-lg font-bold mb-6 text-white border-b border-blue-500 pb-2">
					{footerSections.produkty.title}
				</h3>
				<ul class="space-y-3">
					{
						footerSections.produkty.items.map((item) => (
							<li>
								<a href={item.link} class="hover:text-accent transition-colors duration-300">
									{item.label}
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<!-- Services Section -->
			<div>
				<h3 class="text-lg font-bold mb-6 text-white border-b border-blue-500 pb-2">
					{footerSections.uslugi.title}
				</h3>
				<ul class="space-y-3">
					{
						footerSections.uslugi.items.map((item) => (
							<li>
								<a href={item.link} class="hover:text-accent transition-colors duration-300">
									{item.label}
								</a>
							</li>
						))
					}
				</ul>
			</div>

			<!-- Other Section -->
			<div>
				<h3 class="text-lg font-bold mb-6 text-white border-b border-blue-500 pb-2">
					{footerSections.inne.title}
				</h3>
				<ul class="space-y-3">
					{
						footerSections.inne.items.map((item) => (
							<li>
								<a href={item.link} class="hover:text-accent transition-colors duration-300">
									{item.label}
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>

		<!-- Bottom Bar -->
		<div class="mt-6 pt-8 border-t border-gray-800">
			<div class="text-gray-400 text-sm">
				© {currentYear} Bluesoft. Wszelkie prawa zastrzeżone.
			</div>
		</div>
	</div>
</footer>
